<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://samplefunctionappwinos-g7ejh2dgdza5bmc5.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a3f17136-e91a-4acb-9521-920de4c40662/resourceGroups/RG_SampleFunctionAppWinOS/providers/Microsoft.Web/sites/SampleFunctionAppWinOS</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://samplefunctionappwinos-g7ejh2dgdza5bmc5.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>